<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mangocity.sqlmapper.userMapper">
	<resultMap type="java.util.Map" id="mbrMap">
	</resultMap>
	
	<select id="userLogin" parameterType="map" resultType="map">
		select id,secret,user from app where user=#{userName} and pass=#{password}
	</select>
</mapper> 